.container {
    margin: 0 auto;
    padding: 0 20px;
}

.custom-btn {
    padding: 10px 20px;
    @include font-type-h5;
    background-color: $c-main;
    color: $c-white;
    border-radius: 5px;
    transition: $transition-btn;
    border: 1px solid $c-light-gray;
    height: max-content;

    &:hover {
        background-color: $c-light-green2;
        color: $c-black;
    }
}

.input {
    border: 1px solid $c-light-gray;
    border-radius: 5px;
    padding: 10px;
    background: $c-white;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 500;
}

