.major {
    .major__body {
        display: flex;
        border: 1px solid $c-light-gray;
        border-radius: 10px;
        min-height: 80vh;
    }

    .major__icon {
        display: flex;
        align-items: center;
        width: 32px;
        height: auto;

        svg {
            fill: $c-main;
        }
    }

    .major__menu {
        border-right: 1px solid $c-light-gray;
        background: $c-white;
        width: 25%;
        padding: 20px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;

        @include _768 {
            width: max-content;
        }
    }

    .active-menu {
        background-color: $c-light-green !important;
        border: 1px solid $c-light-gray !important;

    }

    .major__menu-btn {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        width: max-content;
        border-radius: 10px;
        padding: 5px 10px;
        margin: 5px 0;
        border: 1px solid $c-white;
        background-color: $c-white;
        transition: $transition-menu

    }

    .major__menu-btn:hover {

        background-color: $c-light-green;
    }

    .major__menu-title {
        @include font-type-h5;

        @include _768 {
            display: none;
        }
    }

    .major__content {
        width: 75%;
        padding: 20px;
        border-radius: 10px;
        background: $c-light-green;

        h1 {
            @include font-type-h2;
            font-weight: 700;
            word-break: break-word;
        }

        @include _768 {
            width: 100%;
        }
    }
}
