.major__content-pharmacies-header {
    padding-bottom: 20px;
    border-bottom: 1px solid $c-light-gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;


    @include _768 {
        flex-direction: column;

        .major__content-btn {
            max-width: 320px;
        }
    }

    .major__content-pharmacies-actions {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

}

.major__content-pharmacies-additional {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

    .major__content-pharmacies-search {
        width: 50%;
        display: flex;
        gap: 5px;

        input {
            width: 100%;
            max-width: 350px;
            height: auto;

        }
    }
}

.major__content-pharmacies {
    padding-top: 20px;

    table {
        width: 100%;
        border: 1px solid $c-light-gray;
        padding: 10px;
        background-color:$c-white;
        border-radius: 10px;
        border-spacing: 0 10px;


    }

    thead {
        padding-bottom: 5px;
        tr {

        }


        td {
            text-align: center;
            @include font-type-h4;

            :last-child {
                border-bottom-right-radius: 10px;
                border-top-right-radius: 10px;
            }
        }
    }

    tbody {
        tr:nth-child(odd) {
            background: $c-light-gray2;
        }

        td {
            text-align: center;
            height: 40px;
        }

        td:last-child {
            background: $c-white;
        }

    }

    button {
        padding: 5px 10px;
    }
}

.major__content-pharmacies-info {
    display: flex;
    gap: 15px;
    color: $c-light-gray;
}

.major__pharmacies-title {
        margin: 40px 0 20px;
        font-weight: 700;
}

.major__pharmacy-add {
    h2 {
        font-weight: 700;
        margin-bottom: 30px;
    }

    form {
        display: flex;
        flex-direction: column;

    }

    label {
        font-weight: 700;
        font-size: 14px;
        padding-left: 5px;
    }
    input, select {
        margin-bottom: 10px;
    }

    button {
        width: 30%;
        margin: 0 auto;
    }
}
