.chatbots__header {
    display: flex;
    gap: 10px;
}

.chatbots__body {
    padding-top: 20px;
    display: flex;
    gap: 20px;
}

.chatbots__buttons {
    display: none;
    gap: 20px;
    height: max-content;

}

.chatbots__fields {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.chatbots__buttons-accept {
    cursor: pointer;
    svg {
        fill: $c-green;
    }
}

.chatbots__status {
    padding-top: 10px;
}

.chatbots__buttons-cancel {
    cursor: pointer;

    svg {
        width: 28px;
        fill: $c-red
    }
}

.chatbots__buttons.active {
    display: flex;
}

.chatbots__header {
    padding-top: 20px;
}

.chatbots__status {
    font-weight: 700;
    font-size: 20px;
    .active {
        color: $c-green;
        text-transform: capitalize;
    }

    .deactivate {
        color: $c-red;
        text-transform: capitalize;
    }
}

.chatbots__body-wrapper {
    width: 70%;
}
